* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2.7rem;
}

@media (max-width: 550px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 2rem;
}

p {
  color: #8c8c8c;
}

.section-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/desktop/image-hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  min-height: 500px;
  position: relative;
}

@media (max-width: 768px) {
  .section-hero {
    background-image: url("../images/mobile/image-hero.jpg");
    height: 100vh;
  }
}

.section-hero nav {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1100px) {
  .section-hero nav {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1100px) {
  .section-hero nav {
    padding: 3rem 2rem;
  }
}

.section-hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .section-hero nav ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .section-hero nav ul.section-hero__navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-hero nav ul li {
  margin-left: 2rem;
  position: relative;
}

.section-hero nav ul li:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  bottom: -0.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section-hero nav ul li:hover:before {
  opacity: 1;
}

@media (max-width: 768px) {
  .section-hero nav ul li {
    margin: 0.5rem 2rem;
  }
}

.section-hero nav ul li a {
  color: white;
}

@media (max-width: 768px) {
  .section-hero nav ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.section-hero nav .section-hero__logo {
  cursor: pointer;
}

.section-hero.section-hero__nav-mobile {
  background-image: none;
  background: black;
}

.section-hero .section-hero__menu-button {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-hero .section-hero__menu-button {
    display: block;
  }
}

.section-hero .section-hero__title {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  height: calc(80vh - 164px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .section-hero .section-hero__title {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .section-hero .section-hero__title {
    height: calc(100vh - 164px);
  }
}

.section-hero .section-hero__title h1 {
  color: white;
  max-width: 600px;
  border: 2px solid white;
  padding: 3rem;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .section-hero .section-hero__title h1 {
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
  }
}

.section-vr {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  padding-bottom: 0;
  margin: 7rem auto;
  position: relative;
}

@media (max-width: 1100px) {
  .section-vr {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1100px) {
  .section-vr {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .section-vr {
    margin: 3rem auto;
  }
}

.section-vr .section-vr__img-container img:last-child {
  display: none;
}

@media (max-width: 800px) {
  .section-vr .section-vr__img-container img:last-child {
    display: block;
    width: 100%;
  }
  .section-vr .section-vr__img-container img:first-child {
    display: none;
  }
}

.section-vr .section-vr__text {
  padding: 5rem 0 0 5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  max-width: 520px;
}

@media (max-width: 1100px) {
  .section-vr .section-vr__text {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 4rem auto 0;
  }
}

@media (max-width: 550px) {
  .section-vr .section-vr__text {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 2.5rem auto 0;
  }
}

.section-vr .section-vr__text h2 {
  margin-bottom: 2rem;
}

.section-vr .section-vr__text p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.section-creation {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
}

@media (max-width: 1100px) {
  .section-creation {
    padding: 3rem 2rem;
  }
}

.section-creation .section-creation__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .section-creation .section-creation__heading h2 {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .section-creation .section-creation__heading button {
    display: none;
  }
}

.section-creation .section-creation__grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .section-creation .section-creation__grid__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 3rem;
    grid-gap: 1rem;
  }
}

.section-creation .section-creation__grid__container .section-creation__grid__item {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-creation .section-creation__grid__container .section-creation__grid__item img {
  width: 100%;
}

.section-creation .section-creation__grid__container .section-creation__grid__item img:first-child {
  display: block;
}

.section-creation .section-creation__grid__container .section-creation__grid__item img:nth-child(2) {
  display: none;
}

@media (max-width: 800px) {
  .section-creation .section-creation__grid__container .section-creation__grid__item img:first-child {
    display: none;
  }
  .section-creation .section-creation__grid__container .section-creation__grid__item img:nth-child(2) {
    display: block;
  }
}

.section-creation .section-creation__grid__container .section-creation__grid__item .section-creation__grid__item__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section-creation .section-creation__grid__container .section-creation__grid__item .section-creation__grid__item__text h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  color: white;
  padding: 2.2rem;
}

@media (max-width: 996px) {
  .section-creation .section-creation__grid__container .section-creation__grid__item .section-creation__grid__item__text h3 {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .section-creation .section-creation__grid__container .section-creation__grid__item .section-creation__grid__item__text h3 {
    font-size: 2rem;
    padding: 2.2rem;
    max-width: 250px;
  }
}

@media (max-width: 550px) {
  .section-creation .section-creation__grid__container .section-creation__grid__item .section-creation__grid__item__text h3 {
    font-size: 1.5rem;
    padding: 1.8rem;
    max-width: 190px;
  }
}

.section-creation .section-creation__grid__container .section-creation__grid__item:hover .section-creation__grid__item__text {
  background: rgba(255, 255, 255, 0.7);
}

.section-creation .section-creation__grid__container .section-creation__grid__item:hover .section-creation__grid__item__text h3 {
  color: black;
}

.section-creation button {
  padding: 0 2.5rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 3px;
  border: 1px solid black;
  border-radius: 2px;
  background: white;
  font-weight: bold;
  height: 43px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section-creation button:focus {
  outline: none;
}

.section-creation button:hover {
  background: black;
  color: white;
}

.section-creation .section-creation__bottom__button {
  display: none;
}

@media (max-width: 800px) {
  .section-creation .section-creation__bottom__button {
    display: block;
    margin: 3rem auto;
  }
}

footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  footer {
    padding: 4rem 2rem;
  }
}

@media (max-width: 800px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

footer .footer__left,
footer .footer__right {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  padding: 2rem 0;
}

@media (max-width: 1100px) {
  footer .footer__left,
  footer .footer__right {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1100px) {
  footer .footer__left,
  footer .footer__right {
    padding: 0;
  }
}

footer .footer__left .footer__left__logo {
  margin-bottom: 1rem;
  cursor: pointer;
}

footer .footer__left .footer__left__logo img {
  width: 170px;
}

footer .footer__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  footer .footer__left ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}

footer .footer__left ul li {
  margin-right: 1.7rem;
  position: relative;
}

footer .footer__left ul li:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  bottom: -0.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .footer__left ul li:hover:before {
  opacity: 1;
}

footer .footer__left ul li a {
  color: white;
}

@media (max-width: 800px) {
  footer .footer__left ul li {
    margin: 0.8rem 0;
  }
}

footer .footer__right .footer__right__social {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__right .footer__right__social li {
  margin-left: 0.7rem;
  position: relative;
  cursor: pointer;
}

footer .footer__right .footer__right__social li:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  bottom: -0.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer .footer__right .footer__right__social li:hover:before {
  opacity: 1;
}

@media (max-width: 800px) {
  footer .footer__right .footer__right__social li {
    margin: 0 0.5rem;
  }
}

.attribution {
  color: #8c8c8c;
  text-align: center;
}

.attribution a {
  color: dimgray;
}
/*# sourceMappingURL=styles.css.map */